Repository nervejs/mono: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint-common, npm run eslint-rest, npm run eslint-server

.lintstagedrc:

{
	"./common/src/**/*.{ts,tsx}": "npm run eslint-common",
	"./rest/src/**/*.{ts,tsx}": "npm run eslint-rest",
	"./server/src/**/*.{ts,tsx}": "npm run eslint-server"
}

reexport ua-parser result interface
  bin/install
  common/package-lock.json
  common/package.json
  server/package-lock.json
  server/package.json
  server/src/index.ts
Due: npm run eslint-server

ua parser types
  common/package-lock.json
  common/package.json
  server/package-lock.json
  server/package.json
  server/src/index.ts
Due: npm run eslint-server

iteration
  common/bin/dev.sh
  common/package-lock.json
  common/package.json
  common/src/api/NerveApiError/NerveApiError.ts
  common/src/api/NerveApiError/index.ts
  common/src/api/NerveApiError/types.ts
  common/src/api/NerveApiMethod.ts
  common/src/api/NerveRequestError/NerveRequestError.ts
  common/src/api/NerveRequestError/index.ts
  common/src/api/NerveRequestError/types.ts
  common/src/api/index.ts
  common/src/interfaces/INerveCommonTemplateVars.ts
  common/src/interfaces/INerveHttpTransport.ts
  common/src/interfaces/INerveSimpleTemplate.ts
  common/src/interfaces/INerveTemplate.ts
  common/src/interfaces/INerveTemplateRenderResult.ts
  common/src/interfaces/INetworkStatus.ts
  common/src/interfaces/index.ts
  common/src/utils/networkStatus/networkStatus.ts
  server/bin/dev.sh
  server/package-lock.json
  server/package.json
  server/src/NerveServerApp/NerveServerApp.ts
  server/src/NerveServerApp/index.ts
  server/src/NerveServerApp/types.ts
  server/src/NerveServerLocalesManager/NerveServerLocalesManager.ts
  server/src/NerveServerPage/NerveServerPage.ts
  server/src/NerveServerPage/types.ts
  server/src/NerveServerRequest/NerveServerRequest.ts
  server/src/NerveServerRequest/types.ts
  server/src/NerveServerRunner/NerveServerRunner.ts
  server/src/NerveServerRunner/index.ts
  server/src/NerveServerRunner/types.ts
  server/src/__tests__/NerveServerApp.spec.ts
  server/src/interfaces/INerveServerConfig.ts
Due: npm run eslint-common, npm run eslint-server

optional fallback to source locales
  common/package-lock.json
  common/package.json
  server/package-lock.json
  server/package.json
  server/src/NerveServerApp/NerveServerApp.ts
  server/src/NerveServerLocalesManager/NerveServerLocalesManager.ts
  server/src/interfaces/INerveServerConfig.ts
Due: npm run eslint-server

errors handling of page processing
  common/package-lock.json
  common/package.json
  server/package-lock.json
  server/package.json
  server/src/NerveServerPage/NerveServerPage.ts
Due: npm run eslint-server

fix http server logs && npmrc
  common/.npmrc
  common/package-lock.json
  common/package.json
  node/src/NerveNodeHTTPServer/NerveNodeHTTPServer.ts
  node/src/NerveNodeRouteHandler/NerveNodeRouteHandler.ts
  node/src/types/NerveNodeRequest.ts
  server/.npmrc
  server/package-lock.json
  server/package.json
Due: none

format logs http server
  common/package-lock.json
  common/package.json
  node/src/NerveNodeHTTPServer/NerveNodeHTTPServer.ts
  server/package-lock.json
  server/package.json
Due: none

fix crash when locales dir is empty
  common/package-lock.json
  common/package.json
  server/package-lock.json
  server/package.json
  server/src/NerveServerApp/NerveServerApp.ts
Due: npm run eslint-server

configurable limit of body size
  common/package-lock.json
  common/package.json
  node/src/NerveNodeApp/NerveNodeApp.ts
  node/src/NerveNodeHTTPServer/NerveNodeHTTPServer.ts
  node/src/NerveNodeHTTPServer/types.ts
  node/src/interfaces/INerveNodeConfig.ts
  rest/.npmrc
  rest/package-lock.json
  rest/package.json
  rest/src/NerveRestApp/NerveRestApp.ts
  server/package-lock.json
  server/package.json
  server/src/NerveServerApp/NerveServerApp.ts
Due: npm run eslint-rest, npm run eslint-server

cast request params
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  rest/src/NerveRestContext/NerveRestContext.ts
  server/package-lock.json
  server/package.json
Due: npm run eslint-rest

remove content-length header in GET AND DELETE methods
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
  server/src/NerveServerRequest/NerveServerRequest.ts
Due: npm run eslint-server

add active user to rest
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  rest/src/NerveRestAction/NerveRestAction.ts
  rest/src/NerveRestActiveUser/NerveRestActiveUser.ts
  rest/src/NerveRestActiveUser/index.ts
  rest/src/NerveRestActiveUser/types.ts
  rest/src/NerveRestContext/types.ts
  server/package-lock.json
  server/package.json
Due: npm run eslint-rest

export active user from rest
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  rest/src/index.ts
  server/package-lock.json
  server/package.json
Due: npm run eslint-rest

fix name of rest active user options interface
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  rest/src/NerveRestActiveUser/NerveRestActiveUser.ts
  rest/src/NerveRestActiveUser/types.ts
  server/package-lock.json
  server/package.json
Due: npm run eslint-rest

fix type of CtxType
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  rest/src/NerveRestContext/NerveRestContext.ts
  server/package-lock.json
  server/package.json
Due: npm run eslint-rest

fix type of INerveRestContextParamOptionsNonGeneric
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  rest/src/NerveRestContextParam/types.ts
  server/package-lock.json
  server/package.json
Due: npm run eslint-rest

move @types/express from dev dependencies
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
Due: none

move @types/express from dev dependencies
  common/package-lock.json
  common/package.json
  package.json
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
Due: none

install node deps
  bin/install
  common/package-lock.json
  rest/package-lock.json
  server/package-lock.json
Due: none

fix zero in processing time stat
  common/package-lock.json
  common/package.json
  node/src/NerveNodeRouteHandler/NerveNodeRouteHandler.ts
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
  server/src/NerveServerPage/NerveServerPage.ts
Due: npm run eslint-server

new locales manager
  common/.npmrc
  common/package-lock.json
  common/package.json
  node/src/NerveNodeApp/NerveNodeApp.ts
  rest/.npmrc
  rest/package-lock.json
  rest/package.json
  server/.npmrc
  server/package-lock.json
  server/package.json
  server/src/NerveServerApp/NerveServerApp.ts
  server/src/NerveServerLocalesManager/NerveServerLocalesManager.ts
  server/src/NerveServerLocalesManagerNew/NerveServerLocalesManagerNew.ts
  server/src/NerveServerLocalesManagerNew/NerveServerLocalesSocketClient/NerveServerLocalesSocketClient.ts
  server/src/NerveServerLocalesManagerNew/NerveServerLocalesSocketClient/index.ts
  server/src/NerveServerLocalesManagerNew/NerveServerLocalesSocketClient/types.ts
  server/src/NerveServerLocalesManagerNew/index.ts
  server/src/NerveServerLocalesManagerNew/types.ts
  server/src/NerveServerPage/NerveServerPage.ts
  server/src/NerveServerRequest/NerveServerRequest.ts
  server/src/NerveServerRequest/types.ts
  server/src/enums/ENerveServerLocalesSocketMessageIn.ts
  server/src/enums/ENerveServerLocalesSocketMessageOut.ts
  server/src/enums/index.ts
  server/src/interfaces/INerveServerConfig.ts
Due: npm run eslint-server

publish
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
Due: none

add prefetch methods
  common/package-lock.json
  common/package.json
  common/src/interfaces/INerveTemplate.ts
  node/src/NerveNodeRouteHandler/NerveNodeRouteHandler.ts
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
  server/src/NerveServerPage/NerveServerPage.ts
  server/src/NerveServerPage/types.ts
Due: npm run eslint-common, npm run eslint-server

fix prefetch data
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
  server/src/NerveServerPage/NerveServerPage.ts
Due: npm run eslint-server

add support json body
  common/package-lock.json
  common/package.json
  node/src/NerveNodeHTTPServer/NerveNodeHTTPServer.ts
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
Due: none

VKPL-10123: При обрубании долгих запросов стороны ноды не отправлять на бэк OK
  package.json
  server/package.json
  server/src/NerveServerRequest/NerveServerRequest.ts
Due: npm run eslint-server

VKPL-10123: fix MR
  server/src/NerveServerRequest/NerveServerRequest.ts
Due: npm run eslint-server

fix eslint
  server/src/NerveServerRequest/NerveServerRequest.ts
Due: npm run eslint-server

up version
  common/package-lock.json
  common/package.json
  rest/package-lock.json
  rest/package.json
  server/package-lock.json
  server/package.json
Due: none
